<%= render '/projects/side_menu', project: @project %>
<%= content_for(:page_title, "#{@project.name} Headings") %>

<div class="col-sm-12 col-md-12">
  <div class="panel panel-lined table-responsive panel-hovered mb20 data-table">

    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">

      <table class="table table-bordered table-striped dataTable no-footer">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Lat</th>
            <th>Lng</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        <% @project.headings.each do |heading| %>
          <tr>
            <td><%= heading.name %></td>
            <td><%= heading.status %></td>
            <td><%= heading.lat %>m</td>
            <td><%= heading.lng %></td>
            <td><%= link_to('edit', edit_project_heading_path(@project, heading)) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>

  </div>
</div>

