<%= render '/projects/side_menu', project: @project %>
<%= content_for(:page_title, "#{@project.name} Progress Data") %>

<div class="col-sm-12 col-md-12">
  <div class="panel panel-lined table-responsive panel-hovered mb20 data-table">

    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">

      <table class="table table-bordered table-striped dataTable no-footer">
        <thead>
          <tr>
            <th>Date</th>
            <th>Actual Daily Advance</th>
            <th>Actual Rehab Meters</th>
            <th>Actual Available Headings</th>
          </tr>
        </thead>
        <tbody>
        <% @project.sorted_progress_data.each do |data_item| %>
          <tr>
            <td><%= data_item %></td>
            <td><%= data_item.actual_advance_metres %>m</td>
            <td><%= data_item.actual_rehab_metres %>m</td>
            <td><%= data_item.actual_available_headings %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>

  </div>
</div>

