<div class="row">

  <!-- col-left -->
  <div class="col-sm-12 col-md-6">
    <div class="panel panel-default panel-hovered panel-stacked mb30">
      <div class="panel-heading"><%= @project.name %></div>
      <div class="panel-body">

        <%= form_for(@project, class: 'form-horizontal') do |f| %>
          <% if @project.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

              <ul>
              <% @project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :name %><br>
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.label :owner %><br>
            <%= f.text_field :owner %>
          </div>
          <div class="field">
            <%= f.label :lat %><br>
            <%= f.text_field :lat %>
          </div>
          <div class="field">
            <%= f.label :lng %><br>
            <%= f.text_field :lng %>
          </div>
          <div class="field">
            <%= f.label :description %><br>
            <%= f.text_field :description %>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
