<%= render '/projects/side_menu', project: @project %>
<%= content_for :page_title, "#{@project.name} Overview" %>
<%= render 'achievement_stats_individual', latest_summaries: @project.latest_summaries %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-stacked panel-hovered mb30">
      <div class="panel-body">
        <div id="map" style="height: 500px"></div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      google.maps.event.addDomListener(window, 'load', function() {
        var map = new google.maps.Map(document.getElementById("map"), {
          zoom: 13,
          center: new google.maps.LatLng(<%= @project.lat %>, <%= @project.lng %>),
          mapTypeId: google.maps.MapTypeId.SATELLITE,
          disableDefaultUI: true,
          zoomControl: true,
          scrollwheel: false
        });
        google.maps.event.addListener(map, 'click', function(event){
          this.setOptions({scrollwheel:true});
        });

        var pinColorGreen = "00FF00";
        var pinGreen = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColorGreen,
            new google.maps.Size(21, 34),
            new google.maps.Point(0,0),
            new google.maps.Point(10, 34));

        var pinColorRed = "FF0000";
        var pinRed = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColorRed,
            new google.maps.Size(21, 34),
            new google.maps.Point(0,0),
            new google.maps.Point(10, 34));

        var pinColorYellow = "FFFF00";
        var pinYellow = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColorYellow,
            new google.maps.Size(21, 34),
            new google.maps.Point(0,0),
            new google.maps.Point(10, 34));

        var pinShadow = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_shadow",
            new google.maps.Size(40, 37),
            new google.maps.Point(0, 0),
            new google.maps.Point(12, 35));

        <% @project.headings.each do |heading| %>
          var myLatLng = {lat: <%= heading.lat %>, lng: <%= heading.lng %>};
          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: '<%= heading.name %>',
            icon:   pin<%= heading.pin_colour %>,
            shadow: pinShadow
          });
        <% end %>

      });
    });
  </script>
</div>


<!-- row -->
<div class="row">

  <%= render '/projects/monthy_chart', project: @project %>

  <%= render '/common/activities', activities:
    [
      { type: 'primary', time: '1 hour ago', message:  'Heading 2 report due' },
      { type: 'success', time: '2 hours ago', message: 'Heading 12 report submitted' },
      { type: 'warning', time: '3 hours ago', message: 'Heading 14 behind budget' },
      { type: 'info',    time: '4 hours ago', message: 'Heading 11 has been inactive for 4 days' },
      { type: 'primary', time: '4 hours ago', message: 'Heading 3 report submitted' },
    ] %>
  <!-- #end recent activities -->

</div> <!-- #end row -->


<!-- row -->
<div class="row">


  <!-- Project stats -->
  <div class="col-md-7">
    <div class="panel panel-default mb20 panel-hovered project-stats table-responsive">
      <div class="panel-heading">Active Headings Nearing Completion</div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th class="col-sm-5">Project</th>
              <th class="col-sm-1">Progress</th>
            </tr>
          </thead>
          <tbody>

            <% @project.headings.where('completion > 80 AND status = ?', 'Available').order('completion DESC').each do |heading| %>
              <tr>
                <td><%= heading.name %></td>
                <td class="text-center">
                  <span class="sparkline" data-Type="pie" data-SliceColors="[#4CAF50,#eee]" data-Width="2em" data-Height="2em"><%= heading.completion %>,<%= 100 - heading.completion %></span>
                </td>
              </tr>
            <% end %>

            <!-- <tr>
              <td>101</td>
              <td>Designing Wordpress Theme</td>
              <td class="text-center">
                <span class="sparkline" data-Type="pie" data-SliceColors="[#4CAF50,#eee]" data-Width="2em" data-Height="2em">2,8</span>
              </td>
              <td>20<sup>th</sup> Jan 2015</td>
            </tr>

            <tr>
              <td>220</td>
              <td>Convert to SASS</td>
              <td class="text-center">
                <span class="sparkline" data-Type="pie" data-SliceColors="[#4CAF50,#eee]" data-Width="2em" data-Height="2em">4,6</span>
              </td>
              <td>28<sup>th</sup> Jan 2015</td>
            </tr>

            <tr>
              <td>310</td>
              <td>Adding animations to template</td>
              <td class="text-center">
                <span class="sparkline" data-Type="pie" data-SliceColors="[#4CAF50,#eee]" data-Width="2em" data-Height="2em">7,3</span>
              </td>
              <td>02<sup>nd</sup> Feb 2015</td>
            </tr>

            <tr>
              <td>405</td>
              <td>Lorem ipsum dolar sit amet</td>
              <td class="text-center">
                <span class="sparkline" data-Type="pie" data-SliceColors="[#4CAF50,#eee]" data-Width="2em" data-Height="2em">4,6</span>
              </td>
              <td>28<sup>th</sup> Mar 2015</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
