<div class="row">

  <!-- col-left -->
  <div class="col-sm-12 col-md-6">
    <div class="panel panel-default panel-hovered panel-stacked mb30">
      <div class="panel-heading"><%= @heading.name %> in <%= @project.name %></div>
      <div class="panel-body">

        <%= simple_form_for([@project, @heading], class: 'form-horizontal') do |f| %>
          <% if @heading.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@heading.errors.count, "error") %> prohibited this heading from being saved:</h2>

              <ul>
              <% @heading.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <%= f.input :name %>
          <%= f.input :status, as: 'select', collection: Heading::DefaultStatusTypes %>
          <%= f.input :lat %>
          <%= f.input :lng %>

          <%= f.submit %>

        <% end %>

      </div>
    </div>
  </div>
</div>
